@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
.maincart{
    
    display: flex;
    gap: 2%;
    flex-wrap: wrap;
    width: 100%;
    font-family: 'Rubik', sans-serif;
    margin-top: -22px;
    /* border: 2px solid wheat; */
    /* margin-left: 60px; */
}
.maincontainer:hover{
    scale: 1.1;
}
.maincontainer{

 
    transition: all ease 0.2s;


    box-shadow: 0 0 6px 6px #eee;
    text-decoration: none;
    display: inline-block;
    color: black;
    width: 173px;
    margin-top: 65px;
    margin-bottom: -55px;
    text-decoration: none;
}
.maincontainer:hover{
    scale: 1.1;
}
.maincontainer h2,h4,h5{
    list-style: none;
    margin-top: 14px;
    padding-left: 12px;
    font-family: cursive;
    font-size: 21px;

}
.maincontainer img{
    width: 171px;
    height: 202px;
}
.h2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 22px;
    font-family: monospace;
}

.text-center{
margin-left: 450px;
}
.footer-basic {
    padding:40px 0;
    background-color:#ffffff;
    color:#4b4c4d;
        margin-top: 49px;
  }
  
  .footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  }
  
  .footer-basic li {
    padding:0 10px;
  }
  
  .footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-basic ul a:hover {
    opacity:1;
  }
  
  .footer-basic .socials {
    text-align:center;
    padding-bottom:18px;
    font-size: 24px;
  }
  
  .footer-basic .socials > a {
    font-size: 27px;
    width: 46px;
    height: 42px;
    line-height: 35px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #BCC;
    margin: 0 8px;
    color: inherit;
    opacity: 0.75;
    transition:all ease 0.2s;
  }
  
  .footer-basic .socials > a:hover {
scale: 1.2;
}
  
  .footer-basic .copyright {
    margin-top:25px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom: -24px;
  }

