
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
.nav-section{
    background-color: rgb(223, 220, 220);
    height: 69px;
    margin-top: -20px;
    position: fixed;
    top: 0;
    margin-left: -8px;
    width: 100%;
}
.nav-section h2{
    padding-top: 19px;
    font-size: 25px;
    font-family: Roboto,sans-serif;
    
}
.addtocart{
    font-size: 30px;
    color: #4c4444;
    margin-right: 15px;
}
.span2{
    background-image: linear-gradient(to left ,#ff7f50,#ffa502,#ffa502,#ff6b81);
    padding: 6px 26px;
    border: none;
    border-radius: 5px;
    margin-top: 4px;
    gap: 12px;
    /* margin-right: 23px; */
    margin-left: 10px;
    font-size: 17px;
    font-family: Roboto,sans-serif;

  
}
.span2:hover{
    transition: 0.3s;
    background-image: linear-gradient(to left ,#ff7f50,#ffa502);
}
.navbar-brand{
    font-size: 23px;
    font-family: Roboto,sans-serif;
    
    font-weight: 600;
}
.crousel-h5{
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 103px; */
    margin-left: 356px;
    margin-top: 177px;
    font-size: 37px;
    position: absolute;
  
}
.crousel-h4{
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 103px; */
    margin-left: 335px;
    margin-top: 141px;
    font-size: 25px;
    position: absolute;
    letter-spacing: 6.4px;
  
}
.crousel-btn{
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 103px; */
    margin-left: 434px;
    margin-top: 232px;
    font-size: 20px;
    position: absolute;
    background-image: linear-gradient(to left ,#ff7f50,#ffa502,#ffa502,#ff6b81);
    padding: 6px 14px;
    border: none;
    border-radius: 5px;
    font-family: Roboto,sans-serif;

}
@media screen and (max-width:415px) {
    .crousel-h4{
        margin-left: 79px;
        margin-top: 41px;
        letter-spacing: 0.1em;
        width: 210px;
    }
        .hr{
            width: 122px;
            margin-left: 125px;
            font-size: 5px;
        }
        .crousel-btn{
            margin-left: 129px;
            margin-top: 96px;
            font-size: 10px;
        }
}